<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DataSource" value="localhost" />
		<add key="InitialCatalog" value="database" />
		<add key="IntergratedSecuruity" value="True" />
	</appSettings>
	<connectionStrings>
		<add name="MyConnectionString" connectionString="Data Source=(localdb)\\MSSQLLocalDB;Initial Catalog=CorporateMessengerApp;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>